<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSC.NFe.MD.AppBuscaNFSeSP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <DSC.NFe.MD.AppBuscaNFSeSP.My.MySettings>
            <setting name="DSC_NFe_MD_AppBuscaNFSeSP_br_gov_sp_prefeitura_nfe_LoteNFe"
                serializeAs="String">
                <value>https://nfe.prefeitura.sp.gov.br/ws/lotenfe.asmx</value>
            </setting>
        </DSC.NFe.MD.AppBuscaNFSeSP.My.MySettings>
    </applicationSettings>
</configuration>